<app-header />
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>KIPPPER CONSULTTTORIA</span>
            <h1>A consultoria que voce busca para seu software.</h1>
        </div>
        <img ngSrc="/assets/principal.png" width="669" height="536" />
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2> 95% das <br /> empresas
            </h2>
        </div>
        <p>Nao sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisicoes.</p>
    </section>
</main>